<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Empleados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Control de empleados</a>
            </li>
        </ul>
    </nav>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Registro de empleado</h1>
                <div class="card-body">
                    <form th:action="@{/employees}" th:object="${employee}" method="POST">
                        <div class = form-group>
                            <label>Nombre</label>
                            <input type="text" name="firstName" th:field="*{firstName}" class="form-control" placeholder="Nombre: " required>
                        </div>
                        <br>
                        <div class = form-group>
                            <label>Apellido</label>
                            <input type="text" name="lastName" th:field="*{lastName}" class="form-control" placeholder="Apellido: " required>
                        </div>
                        <br>
                        <div class = form-group>
                            <label>Email</label>
                            <input type="text" name="emailId" th:field="*{emailId}" class="form-control" placeholder="Email: " required>
                        </div>

                        <br>
                        <div class="box-footer">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>