<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Empleados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">Control de empleados</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Lista de Empleados</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <br>
                <a th:href="@{/employees/new}" class="btn btn-info btn-sm mb3 ">Agregar Empleado</a>

            </div>
        </div>
        <br>
            <table class="table table-hover table-dark table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.emailId}"></td>
                    <td>
                        <a th:href="@{/employees/edit/{id}(id=${employee.id})}" class="btn btn-info">Editar</a>
                        <a th:href="@{/employees/{id}(id=${employee.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>

</html>