<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Hello World 2"/>
    <meta name="author" content="Sebastian Ramos"/>
    <title>Hello World 2</title>

    <link th:href="@{/bootstrap-pack/dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/bootstrap-pack/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

</body>
</html>