<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: header"></head>
<body>

    <div th:replace="common/body/navbar :: navbar"></div>
    <div class="container">
    <h1 th:text="'Hola ' + ${name}"></h1>
    </div>
    <div th:replace="common/body/footer :: footer"> </div>

</body>
</html>