<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inventario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Roles</a>
        </li>

      </ul>
    </div>
  </nav>


  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Categoria</th>


      </tr>
      </thead>
      <tbody>

      <tr th:each="carrito : ${listaCarrito}">
        <td th:text="${carrito.producto.id}"></td>
        <td th:text="${carrito.producto.nombre}"></td>
        <td th:text="${carrito.producto.descripcion}"></td>
        <td th:text="${carrito.producto.precio}"></td>
        <td th:text="${carrito.producto.categoria.nombre}"></td>
      </tr>
      </tbody>
    </table>

    <div class="btn btn-info">
      <a style="text-decoration: none; color: whitesmoke;" th:href="@{/carrito/catalogo/{id}(id=${usuario.id})}">Agregar Mas Productos</a>
    </div>

</div>



</div>





</body>
</html>