<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Roles</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container text-center">
        <div>
            <h1>Lista de Categorias</h1>
        </div>

        <br>

        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="categoria : ${listaCategorias}">
                    <td th:text="${categoria.id}"></td>
                    <td th:text="${categoria.nombre}"></td>
                    <td>
                        <a th:href="@{/categorias/editar/{id}(id=${categoria.id})}" class="btn btn-primary">Editar</a>
                        <a th:href="@{/categorias/eliminar/{id}(id=${categoria.id})}" class="btn btn-danger">Eliminar</a>
                </tr>
                </tbody>
            </table>

            <div class="btn btn-info">
                <a style="text-decoration: none; color: whitesmoke;" th:href="@{/categorias/nuevo}">Agregar Categorias</a>
            </div>

        </div>



    </div>


</body>
</html>