<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>




    <div class="container text-center">


        <br>
        <br>
    <h1>Inicio</h1>
        <br>
    <div class="p-2">
        <a class="btn btn-dark" th:href="@{/categorias/mostrar}">Categorias</a>


        <a class="btn btn-dark" th:href="@{/productos/listar}">Productos</a>

        <a class="btn btn-dark" th:href="@{/usuarios/listar}">Usuarios</a>
    </div>


    </div>



</body>
</html>