<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inventario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Roles</a>
        </li>

      </ul>
    </div>
  </nav>


  <div class="container text-center">
    <div>
      <h1>Agregar una nuevo producto</h1>
    </div>
    <form th:action="@{/productos/guardar}" th:object="${producto}" method="POST" style="max-width: 600px; margin: 0 auto;">
      <div class="m-3">
        <div class="form-group row">
          <label class="col-form-label col-sm-4">Nombre de Producto</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{nombre}" class="form-control" required/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-4">Descripcion de Producto</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{descripcion}" class="form-control" required/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-4">Precio de Producto</label>
          <div class="col-sm-8">
            <input type="number" th:field="*{precio}" class="form-control" required/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-4">Categoria</label>
          <div class="col-sm-8">
            <select th:field="*{categoria}" class="form-control" required>
              <th:block th:each="categoria : ${listaCategorias}">
                <option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
              </th:block>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-8">
            <input type="hidden" th:field="*{id}" class="form-control" required/>
          </div>
        </div>




        <div class="text-center p">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>





</body>
</html>